.agregarCategoria
  .mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-infix{
    padding: 0.5em 0 0.5em 0;
  }

.dialog-agregar-categoria{
  mat-dialog-container{
    padding: 0px !important;
    height: auto;
    overflow-x: clip;
  }
}

.tituloModal{
  width: 100%;
  background-color: #23CAE4;
  color: white;
  font-size: 20px;
  height: 50px;
  padding: 10px;
  text-align: left;
  justify-content: center;
}

.botonAgregar{
  width: 150px;
  background-color: #23CAE4;
  color: white;
  margin-right: 20px;
}

.cancelar{
    width: 150px;
    background-color: red;
    color: white;
}

.crear{
    width: 100%;
    display:flex ;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.inre{
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 0px;
  width: 100%;
}

.mat-form-field {
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: left;
}
