<div class="contenedor">
  <div class="titulo">
    <h1>Reporte de Usuarios</h1>
    <p>
      Puedes visualizar el estado de los simuladores, resultado y nivel de
      aprendizaje
    </p>
  </div>

  <div class="contenedor">
    <div class="inp">
      <div class="tit">
        <p>Codigo de matricula:</p>
      </div>
      <input placeholder="[Codigo]" />
      <button mat-raised-button style="background-color: #23CAE4; color: white">
        Buscar
      </button>
    </div>
    <div class="inp">
      <div class="tit">
        <p>Id Alumno:</p>
      </div>
      <input placeholder="[IdAlumno]" />
    </div>

    <div class="inp">
      <div class="tit">
        <p>Nombres y Apellidos:</p>
      </div>
      <input placeholder="[Nombres y Apellidos]" />
    </div>
    <div class="inp">
      <div class="tit">
        <p>Nivel:</p>
      </div>
      <input placeholder="[Nivel]" />
    </div>
    <div class="inp">
      <div class="tit">
        <p>Examenes activos:</p>
      </div>
      <input placeholder="[Examenes Activos]" />
    </div>
    <div class="inp">
      <div class="tit">
        <p>Examenes Completados:</p>
      </div>
      <input placeholder="[Examenes Completados]" />
    </div>
  </div>

  <div class="container datos1" style="margin-bottom: 20px">
    <div class="row">
      <div class="col-md-4">
        <button
          class="modos"
          mat-flat-button
          [ngClass]="{ colorin: seleccionado == 1 }"
          (click)="seleccionado = 1"
        >
          Modo estudio
        </button>
      </div>
      <div class="col-md-4">
        <button
          class="modos"
          mat-flat-button
          [ngClass]="{ colorin: seleccionado == 2 }"
          (click)="seleccionado = 2"
        >
          Modo entrenamiento
        </button>
      </div>
      <div class="col-md-4">
        <button
          class="modos"
          mat-flat-button
          [ngClass]="{ colorin: seleccionado == 3 }"
          (click)="seleccionado = 3"
        >
          Modo examen
        </button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="seleccionado == 1">
  
  <div class="container datos">
    <div class="row">
      <div class="col-md-4">
        <div>
          <p>Resultados de la ultima simulacion</p>
          <app-dona [Puntos]="Puntos" [TotalPuntos]="Puntos"></app-dona>
          <div class="item-leyenda-dona-principal">
            <div>[Categoria] : [Subcategoria]</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p>Mejor puntaje obtenido</p>
        <app-dona [Puntos]="Puntos" [TotalPuntos]="Puntos"></app-dona>
        <div class="item-leyenda-dona-principal">
          <div>[Categoria] : [Subcategoria]</div>
        </div>
      </div>
      <div class="col-md-4">
        <p>Categorias con mayores puntajes</p>
      </div>
    </div>
  </div>

  <div class="container datos1" style="margin-top: 50px">
  <table mat-table  class="mat-elevation-z8" [dataSource]="datasource">
                  
    <ng-container matColumnDef="ranking" >
      <th mat-header-cell *matHeaderCellDef style="width: 200px"> Ranking</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nombre" >
      <th mat-header-cell *matHeaderCellDef style="width: 400px"> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef style="width: 300px"> Fecha y hora de inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <ng-container matColumnDef="FechaFinalizacion">
      <th mat-header-cell *matHeaderCellDef style="width: 300px"> Fecha y hora de finalizacion </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="duracion">
        <th mat-header-cell *matHeaderCellDef style="width: 200px"> Duracion </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <ng-container matColumnDef="puntaje">
        <th mat-header-cell *matHeaderCellDef style="width: 200px"> Puntaje </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</ng-container>

<ng-container *ngIf="seleccionado == 2">
  
    <div class="container datos">
      <div class="row">
        <div class="col-md-4">
          <div>
            <p>Resultados de la ultima simulacion</p>
            <app-dona [Puntos]="Puntos" [TotalPuntos]="Puntos"></app-dona>
            <div class="item-leyenda-dona-principal">
              <div>[Nombre de la simulacion]</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p>Mejor puntaje obtenido</p>
          <app-dona [Puntos]="Puntos" [TotalPuntos]="Puntos"></app-dona>
          <div class="item-leyenda-dona-principal">
            <div>[Nombre de la simulacion]</div>
          </div>
        </div>
        <div class="col-md-4">
          <p>Puntaje general por categorias</p>
        </div>
      </div>
    </div>
  
    <div class="container datos1" style="margin-top: 50px">
    <table mat-table  class="mat-elevation-z8" [dataSource]="datasource">
                    
      <ng-container matColumnDef="ranking" >
        <th mat-header-cell *matHeaderCellDef style="width: 200px"> Ranking</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nombre" >
        <th mat-header-cell *matHeaderCellDef style="width: 400px"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef style="width: 300px"> Fecha y hora de inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
      <ng-container matColumnDef="FechaFinalizacion">
        <th mat-header-cell *matHeaderCellDef style="width: 300px"> Fecha y hora de finalizacion </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
  
      <ng-container matColumnDef="duracion">
          <th mat-header-cell *matHeaderCellDef style="width: 200px"> Duracion </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
  
        <ng-container matColumnDef="puntaje">
          <th mat-header-cell *matHeaderCellDef style="width: 200px"> Puntaje </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  </ng-container>

  <ng-container *ngIf="seleccionado == 3">
  
    <div class="container datos">
      <div class="row">
        <div class="col-md-4">
          <div>
            <p>Resultados de la ultima simulacion</p>
            <app-dona [Puntos]="Puntos" [TotalPuntos]="Puntos"></app-dona>
            <div class="item-leyenda-dona-principal">
              <div>[Nombre de la simulacion]</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p>Mejor puntaje obtenido</p>
          <app-dona [Puntos]="Puntos" [TotalPuntos]="Puntos"></app-dona>
          <div class="item-leyenda-dona-principal">
            <div>[Nombre de la simulacion]</div>
          </div>
        </div>
        <div class="col-md-4">
           
          <p>Puntaje general por categorias</p>
        </div>
      </div>
    </div>
  
    <div class="container datos1" style="margin-top: 50px">
    <table mat-table  class="mat-elevation-z8" [dataSource]="datasource">
                    
      <ng-container matColumnDef="ranking" >
        <th mat-header-cell *matHeaderCellDef style="width: 200px"> Ranking</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nombre" >
        <th mat-header-cell *matHeaderCellDef style="width: 400px"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef style="width: 300px"> Fecha y hora de inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
      <ng-container matColumnDef="FechaFinalizacion">
        <th mat-header-cell *matHeaderCellDef style="width: 300px"> Fecha y hora de finalizacion </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
  
      <ng-container matColumnDef="duracion">
          <th mat-header-cell *matHeaderCellDef style="width: 200px"> Duracion </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
  
        <ng-container matColumnDef="puntaje">
          <th mat-header-cell *matHeaderCellDef style="width: 200px"> Puntaje </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  </ng-container>
</div>
