.tituloHome{
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
}
.subTituloHome{
  font-size: 15px;
  padding-top: 0.2rem;
}
.CardsSimuladores{
  border-radius: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 20%;
  color:#D0D0D0
}
.CardsSimuladores:hover {
  text-decoration:underline;
  color: black;
}
.logoSimulador
{
  height: 1.5rem;
}

