<div class="row" style="padding: 40px 30px 10px 30px;">
    <div class="titulo">
      Configuración de preguntas
    </div>
    <div class="subTitulo">
      Puedes modificar el enunciado de las preguntas, sus alternativas, su retroalimentacion o el tipo de pregunta
    </div>
    <div>
      <button mat-button class="btnAniadirPregunta"(click)="agregarPregunta()">
        Añadir
      </button>
    </div>
    <div id="test" *ngIf="listOfDisplayData!=undefined">
      <nz-table
        #columnTable
        [nzData]="listOfDisplayData"
         nzTableLayout="fixed" class="table"
      >
        <thead>
          <tr>
            <th style="border: solid 1px #b2b2b2;width:30px; text-align: center; background-color: #E7E7E7;color: #222222;">
              Id
              <nz-filter-trigger
              [(nzVisible)]="visible2"
              [nzActive]="searchValue2.length > 0"
              [nzDropdownMenu]="menu2"
            >
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="border: solid 1px #b2b2b2;width:130px; text-align: center; background-color: #E7E7E7;color: #222222;">
              Enunciado
              <nz-filter-trigger
              [(nzVisible)]="visible3"
              [nzActive]="searchValue3.length > 0"
              [nzDropdownMenu]="menu3"
            >
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="border: solid 1px #b2b2b2;width:40px; text-align: center; background-color: #E7E7E7;color: #222222;">
              Id Categoria
              <nz-filter-trigger
              [(nzVisible)]="visible4"
              [nzActive]="searchValue4.length > 0"
              [nzDropdownMenu]="menu4"
            >
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="border: solid 1px #b2b2b2;width:50px; text-align: center; background-color: #E7E7E7;color: #222222;">
              Nombre Categoria
              <nz-filter-trigger
                [(nzVisible)]="visible"
                [nzActive]="searchValue.length > 0"
                [nzDropdownMenu]="menu"
              >
                <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
            </th>
            <th style="border: solid 1px #b2b2b2;width:80px; text-align: center; background-color: #E7E7E7;color: #222222;">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let data of columnTable.data; let i = index">
            <td style="text-align: center; border: 1px solid #cacaca">
              {{ data.id }}
            </td>
            <td style="text-align: center; border: 1px solid #cacaca" [innerHTML]="data.enunciado">

            </td>
            <td style="text-align: center; border: 1px solid #cacaca">
              {{ data.idCategoria }}
            </td>
            <td style="text-align: center; border: 1px solid #cacaca">
              {{ data.categoria }}
            </td>

            <td  style="text-align: center; border: 1px solid #cacaca">
              <ng-container>
                <button
                mat-button
                class="edit"
                (click)="editarPregunta(data)"
                style="margin-right: 10px"
              >
                <i class="material-icons">edit</i>
              </button>

              <button mat-button class="cancel" (click)="mostrarMensajeEliminarPregunta(data.id)">
                <i class="material-icons">close</i>
              </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>


      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input
              type="text"
              nz-input
              placeholder="Search name"
              [(ngModel)]="searchValue"
            />
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              (click)="search()"
              class="search-button"
            >
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #menu2="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input
              type="text"
              nz-input
              placeholder="Search name"
              [(ngModel)]="searchValue2"
            />
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              (click)="search2()"
              class="search-button"
            >
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #menu3="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input
              type="text"
              nz-input
              placeholder="Search name"
              [(ngModel)]="searchValue3"
            />
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              (click)="search3()"
              class="search-button"
            >
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #menu4="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input
              type="text"
              nz-input
              placeholder="Search name"
              [(ngModel)]="searchValue4"
            />
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              (click)="search4()"
              class="search-button"
            >
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>

    </div>
    <div class="loadingTablaConfiguracionPregunta" *ngIf="listOfDisplayData==undefined">
      <div class="container" style="width: 63%;">
        <div style="padding:0.75rem 1.25rem;width: 100%;height: 450px;">
          <div style="margin-top: 100px; display: flex;justify-content: center;">
            <mat-spinner></mat-spinner>
          </div>
          <div style="margin-top: 20px;text-align: center">
            Los registros se están cargando ...
          </div>
        </div>
      </div>
    </div>
  </div>
