<div class="row" style="padding: 40px 30px 10px 30px;">
  <div class="titulo">
    Configuracion de categorías
  </div>
  <mat-tab-group class="tabHorizontalCategorias">
    <mat-tab label="Categorias">
      <div class="subTitulo">
          Puedes modificar los nombres de las categorias, la cantidad de preguntas por examen y su proporcion dentro del examen,
          este determinara cuantas preguntas apareceran para cada categoria en los modos entrenamiento y examen.
      </div>
      <div *ngIf="listaCategorias!=undefined" id="test">
        <table class="tableCategorias">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Cant. de preguntas por examen</th>
            <th>Proporción</th>
            <th>Opciones</th>
          </tr>
          <ng-container *ngFor="let item of listaCategorias ;let i=index">
            <tr>
              <td>
                {{item.id}}
              </td>
              <td>
                {{item.nombre}}
              </td>
              <td>
                {{item.cantidadPreguntasPorExamen}}
              </td>
              <td>
                {{item.proporcion}} %
              </td>
              <td>
                <ng-container>
                  <button mat-button class="edit" (click)="EditarCategoria(item)">
                    <i class="material-icons">edit</i>
                  </button>
                </ng-container>
                <ng-container>
                  <button mat-button class="delete" (click)="EliminarCategoria(item)">
                    <i class="material-icons">delete</i>
                  </button>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </table>


        <!-- <table mat-table class="mat-elevation-z8" [dataSource]="datasource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="width: 100px">Id.</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef style="width: 200px">
              Nombre de la categoria
            </th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef style="width: 200px">
              Cant. de preguntas actual
            </th>
            <td mat-cell *matCellDef="let element">{{ element.cantidadPreguntasPorExamen }}</td>
          </ng-container>

          <ng-container matColumnDef="proporcion">
            <th mat-header-cell *matHeaderCellDef style="width: 100px">
              Proporcion
            </th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table> -->

      </div>
    </mat-tab>
    <mat-tab label="Sub categorias">
      <div class="titulo">
        <h1>Sub categorias</h1>
        <p>
          En caso el examen cuente con una distribucion por subcategorias
          apareceran aqui
        </p>
      </div>

      <div class="tabla">
        <div id="test">
          <table mat-table class="mat-elevation-z8" [dataSource]="listaCategorias">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef style="width: 100px">
                Id.
              </th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef style="width: 200px">
                Nombre de la categoria
              </th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef style="width: 200px">
                Cant. de preguntas actual
              </th>
              <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
            </ng-container>

            <ng-container matColumnDef="proporcion">
              <th mat-header-cell *matHeaderCellDef style="width: 100px">
                Proporcion
              </th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>


    </mat-tab>
  </mat-tab-group>
</div>
