
.tabVertical
.mat-tab-header
.mat-tab-label-container
.mat-tab-list
.mat-tab-labels {
  max-width: 290px;
}
.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label
  .mat-tab-label-content
  .contentHeaderM {
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 20px !important;
  flex-wrap: nowrap !important;
  background: #50CFFF;
  color: white;
  .titleMatr {
    word-break: break-word;
    white-space: normal;
    /* display: block; */
    width: 248px !important;
    text-align: left;
    margin-left: 10px;
  }
}
.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label-active
  .mat-tab-label-content
  .contentHeaderM {
  color: #0684f3 !important;
  font-weight: 600;
  text-decoration: auto;
  background: white !important;

  .titleMatr {
    text-decoration: underline;
  }
}
.ActiveChil {
  color: #0684f3 !important;
  font-weight: 600;

  .titleMatr {
    color: #0684f3 !important;
    text-decoration: underline;
  }
}
.tabHorizontalCategorias
.mat-tab-header
.mat-tab-label-container
.mat-tab-list
.mat-tab-labels {
  max-width: 290px;
}
.tabHorizontalCategorias
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label
  .mat-tab-label-content
  .contentHeaderM {
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 20px !important;
  flex-wrap: nowrap !important;
  background: #50CFFF;
  color: white;
  .titleMatr {
    word-break: break-word;
    white-space: normal;
    /* display: block; */
    width: 248px !important;
    text-align: left;
    margin-left: 10px;
  }
}
.tabHorizontalCategorias
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label-active
  .mat-tab-label-content
  .contentHeaderM {
  color: orange !important;
  font-weight: 600;
  text-decoration: auto;
  background: white !important;
}

