<div class="contenedor">
  <div class="titulo">
    <h1>Configuracion de preguntas</h1>
    <p>
      Puedes modificar el enunciado de las preguntas, sus alternativas, su
      retroalimentacion o el tipo de pregunta
    </p>
  </div>
  <div id="test">
    <nz-table #columnTable [nzData]="datasource" [nzScroll]="{ x: '1100px' }">
      <thead>
        <tr>
          <th style="width: 100px">Id</th>
          <th>Enunciado</th>
          <th style="width: 100px">Id Categoria</th>
          <th style="width: 200px">Nombre Categoria</th>
          <th style="width: 200px">Nombre Subcategoria</th>
          <th style="width: 200px"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of columnTable.data; let i = index">
          <td>{{ data.id }}</td>
          <td>{{ data.pregunta }}</td>
          <td style="text-align: center">{{ data.idCategoria }}</td>
          <td>{{ data.categoria }}</td>
          <td>{{ data.subcategoria }}</td>

          <td nzRight>
            <button mat-button class="edit" (click)="openDialog(data)">
              <i class="material-icons">edit</i>
            </button>

            <button mat-button class="cancel" (click)="eliminar(i)">
              <i class="material-icons">close</i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
