<form [formGroup]="formPregunta">
  <ng-container *ngIf="loader == true">
    <div class="loading-indicator">
      <mat-progress-spinner
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
    </div>
  </ng-container>
  <div class="titulo">Configuracion de Pregunta</div>
  <div class="contenedor">
    <div class="inp">
      <div class="tit">
        <p>Categoria:</p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Categorias</mat-label>

        <mat-select
          (selectionChange)="FiltrarSubs($event)"
          formControlName="IdCategoria"
        >
          <mat-option *ngFor="let a of listaCategorias" [value]="a.id">
            {{ a.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="inp">
      <div class="tit">
        <p>Sub Categoria:</p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>SubCategorias</mat-label>
        <mat-select formControlName="IdSubCategoria">
          <mat-option
            *ngFor="let a of lisSubCategoriaPorCategoria"
            [value]="a.id"
          >
            {{ a.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="inp">
      <div class="tit">
        <p>Tipo de Pregunta:</p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Tipo de Pregunta</mat-label>
        <mat-select formControlName="IdTipoRespuesta">
          <mat-option *ngFor="let a of listaTipoPregunta" [value]="a.id">
            {{ a.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="inp">
      <div class="tit">
        <p>Enunciado:</p>
      </div>
    </div>

    <div class="box">
      <textarea
        style="width: 100%"
        name="textarea"
        rows="10"
        cols="80"
        placeholder="[Contenido del enunciado]"
        formControlName="Enunciado"
      ></textarea>
      <div class="inp">
        <div class="tit">
          <p>Imagen:</p>
        </div>
        <input
          class="ng-hide"
          id="input-file-id"
          multiple
          type="file"
          formControlName="ImagenPregunta"
        />
      </div>
    </div>



    <div class="inp">
      <div class="tit">
        <p>Alternativas:</p>
      </div>
    </div>

    <div>
      <button mat-button class="agregar" (click)="agregar()">Añadir</button>
    </div>

    <ng-container *ngIf="agregarv != false">
      <table class="tableCategorias">
        <tr>
          <!-- <th>Id</th> -->
          <th>Alternativa</th>
          <th>Correcto</th>
          <th>Puntaje</th>
          <!-- <th>Retroalimentacion</th> -->
          <th>Opciones</th>
        </tr>
        <ng-container *ngFor="let item of listaAlternativas; let i = index">
          <tr>
            <!-- <td>
              {{ item.Id }}
            </td> -->
            <td>
              {{ item.Alternativa }}
            </td>
            <td>
              <input type="checkbox" />
            </td>
            <td>{{ item.Puntaje }} %</td>
            <!-- <td>
              {{ item.Retroalimentacion }}
            </td> -->
            <td>
              <ng-container>
                <button
                  mat-button
                  class="edit"
                  (click)="abrirModalAlternativas(item)"
                >
                  <i class="material-icons">edit</i>
                </button>
              </ng-container>
              <ng-container>
                <button mat-button class="delete" (click)="eliminar()">
                  <i class="material-icons">delete</i>
                </button>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </table>
    </ng-container>

    <ng-container *ngIf="agregarv == false">
      <table class="tableCategorias">
        <tr>
          <th>Id</th>
          <th>Alternativa</th>
          <th>Correcto</th>
          <th>Puntaje</th>
          <th>Retroalimentacion</th>
          <th>Opciones</th>
        </tr>
        <ng-container *ngFor="let item of listaAlternativas; let i = index">
          <tr>
            <td>
              {{ item.idAlternativa }}
            </td>
            <td>
              {{ item.respuesta }}
            </td>
            <td>
              <input type="checkbox" />
            </td>
            <td>{{ item.puntaje }} %</td>
            <td>
              {{ item.retroalimentacion }}
            </td>
            <td>
              <ng-container>
                <button
                  mat-button
                  class="edit"
                  (click)="abrirModalAlternativas(item)"
                >
                  <i class="material-icons">edit</i>
                </button>
              </ng-container>
              <ng-container>
                <button mat-button class="delete" (click)="eliminar()">
                  <i class="material-icons">delete</i>
                </button>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </table>
    </ng-container>


    <div class="inp">
      <div class="tit">
        <p>Tiene retroalimentacion unica:</p>
      </div>

      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        class="buttonGroup"
      >
        <mat-button-toggle (click)="toggle()" id="btn-show"
          >SI</mat-button-toggle
        >
        <mat-button-toggle (click)="toggle()" id="btn-hide"
          >NO</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
    <ng-container *ngIf="show">
      <div class="box">
        <div class="inp">
          <div class="tit">
            <p>Video:</p>
          </div>
          <input
            placeholder="[Link/IDVideo]"
            formControlName="UrlVideo"
            style="width: 100%; margin-right: 50px"
          />
        </div>
        <div class="inp">
          <div class="tit">
            <p>Texto:</p>
          </div>
          <textarea
            name="textarea"
            formControlName="Retroalimentacion"
            rows="10"
            cols="80"
            placeholder="[Contenido del enunciado]"
            style="width: 100%; margin-right: 50px"
          ></textarea>
        </div>
        <div class="inp">
          <div class="tit">
            <p>Imagen:</p>
          </div>
          <input
            class="ng-hide"
            id="input-file-id"
            multiple
            type="file"
            formControlName="ImgPreguntaRetroalimentacion"
            style="width: 100%; margin-right: 50px"
          />
        </div>
      </div>
    </ng-container>
  </div>

  <div class="crear">
    <button mat-flat-button class="botonAgregar" (click)="Enviar()">Guardar</button>
    <button mat-flat-button class="cancelar" (click)="Cancelar()">
      Cancelar
    </button>
  </div>
</form>
