<div class="tituloModal">Añadir Categoría</div>
<form [formGroup]="formCategoria">

  <div class="agregarCategoria">
    <mat-dialog-content class="mat-typography">
      <div class="contenedor">
        <div class="inre">
          <div class="ver">
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Nombre de la categoría</mat-label>
              <input type="text"  formControlName="NombreCategoria" matInput />
              <mat-error *ngIf="formCategoria.invalid">{{obtenerErrorCampoNombre('NombreCategoria')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="inre">
          <div class="ver">
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Leyenda</mat-label>
              <input type="text"  formControlName="Leyenda" matInput />
              <mat-error *ngIf="formCategoria.invalid">{{obtenerErrorCampoNombre('Leyenda')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="contenedor">
        <div class="inre">
          <div class="ver">
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Cantidad total de preguntas</mat-label>
              <input type="number"  formControlName="CantidadPreguntasTotales" matInput />
              <mat-error *ngIf="formCategoria.invalid">{{obtenerErrorCampoNombre('CantidadPreguntasTotales')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="inre">
          <div class="ver">
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Cantidad de preguntas por examen</mat-label>
              <input type="number"  formControlName="CantidadPreguntasExamen" matInput />
              <mat-error *ngIf="formCategoria.invalid">{{obtenerErrorCampoNombre('CantidadPreguntasExamen')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="contenedor">
        <div class="inre">
          <div class="ver">
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Proporcion</mat-label>
              <input type="number"  formControlName="Proporcion" matInput />
              <mat-error *ngIf="formCategoria.invalid">{{obtenerErrorCampoNombre('Proporcion')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="inre">
          <div style="font-size:12px">Tiene subcategoría</div>
          <div class="ver">
            <mat-checkbox style="margin-top: -13px;" color="primary"  formControlName="TieneSubCategoria" class="example-full-width" appearance="outline">
            </mat-checkbox>

          </div>
        </div>
      </div>

      <div class="contenedor">
        <div class="inre">
          <div style="font-size: 13px;margin-top: -13px;">
            Logo:
          </div>
          <div class="ver">
            <input id="file" type="file" (change)="getFileDetails($event)" />
          </div>
        </div>
      </div>

      <div class="crear">
        <ng-container *ngIf="data== undefined">
        <button style="background: #FF850C;" mat-flat-button class="botonAgregar" (click)="Agregar()">Guardar Cambios</button>
      </ng-container>

      <ng-container *ngIf="data != undefined">
        <button style="background: #FF850C;" mat-flat-button class="botonAgregar" (click)="Editar()">Guardar Cambios</button>
      </ng-container>
        <button mat-flat-button class="cancelar" (click)="Cancelar()">Cancelar</button>
      </div>
    </mat-dialog-content>
  </div>
</form>

