<div class="tituloModal">Añadir Alternativa</div>
<form [formGroup]="formAlternativa">

  <div class="agregarCategoria">
    <mat-dialog-content class="mat-typography">
      <div class="contenedor">
        <div class="inre">
          <div class="ver">
            <p>Alternativa</p>
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Ingrese a la alternativa</mat-label>
              <input type="text"  formControlName="Alternativa" matInput />
              <mat-error *ngIf="formAlternativa.invalid">{{obtenerErrorCampoNombre('Alternativa')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="inre">
            <div style="font-size:12px"></div>
            <div class="ver">
              <p>Correcto</p>
              <mat-checkbox style="margin-top: -13px;" color="primary"  formControlName="Correcto" class="example-full-width" appearance="outline">
            </mat-checkbox>
            </div>
          </div>

      </div>
      <div class="contenedor">
        <div class="inre">
          <div class="ver">
            <p>Puntaje</p>
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Ingrese el puntaje</mat-label>
              <input type="text"  formControlName="Puntaje" matInput />
              <mat-error *ngIf="formAlternativa.invalid">{{obtenerErrorCampoNombre('Puntaje')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="inre">
          <div class="ver">
            <p>Video</p>
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Url del video</mat-label>
              <input type="text"  formControlName="UrlVideo" matInput />
              <mat-error *ngIf="formAlternativa.invalid">{{obtenerErrorCampoNombre('UrlVideo')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="contenedor">
        <div class="inre">
            <div class="ver">
              <p>Texto</p>
                <textarea
                style="width: 100%"
                name="textarea"
                rows="5"
                cols="80"
                placeholder="[Ingrese el texto]"
                formControlName="Texto"
                ></textarea>
            </div>
          </div>
          <div class="inre">
            <p>Imagen</p>
            <div style="font-size: 13px;margin-top: -13px;">
            </div>
            <div class="ver">
              <input id="file" type="file" formControlName="Imagen"/>
            </div>
          </div>
      </div>

      <div class="crear">
        <button style="background: #FF850C;" mat-flat-button class="botonAgregar">Guardar Cambios</button>
        <button mat-flat-button class="cancelar" (click)="Cancelar()">Cancelar</button>
      </div>
    </mat-dialog-content>
  </div>
</form>
