<div class="row">
    <div class="titulo">
      <h1>Reporte General</h1>
      <p>
        Puedes monitorear el estado de todos los alumnos matriculados en el programa e identificar que alumnos estan preparados para rendir el examen oficial de certificacion
      </p>
    </div>

    <div class="contenedor">
      <div class="inp">
          <button
            mat-raised-button
            style="background-color: orange; color: white"
          >
            Guardar Cambios
          </button>

      </div>
      <table mat-table  class="mat-elevation-z8" [dataSource]="datasource">

        <ng-container matColumnDef="codigo" >
          <th mat-header-cell *matHeaderCellDef style="width: 100px"> Codigo de Matricula </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="alumno" >
          <th mat-header-cell *matHeaderCellDef style="width: 200px"> Alumno </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="centro">
          <th mat-header-cell *matHeaderCellDef style="width: 100px"> Centro de costos  </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>


        <ng-container matColumnDef="tipoMatricula">
          <th mat-header-cell *matHeaderCellDef style="width: 100px"> Tipo de matricula </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>


        <ng-container matColumnDef="fechaMatricula">
          <th mat-header-cell *matHeaderCellDef style="width: 100px"> Fecha matricula al simulador</th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>


        <ng-container matColumnDef="punmax">
          <th mat-header-cell *matHeaderCellDef style="width: 100px"> Puntaje max M.examen </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>


        <ng-container matColumnDef="punorom">
          <th mat-header-cell *matHeaderCellDef style="width: 100px"> Puntaje prom M.examens </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>


        <ng-container matColumnDef="simfin">
          <th mat-header-cell *matHeaderCellDef style="width: 100px"> Simulaciones finalizadas </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>


        <ng-container matColumnDef="fechaultima">
          <th mat-header-cell *matHeaderCellDef style="width: 100px"> F. de ultima simulacion </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="nivel">
          <th mat-header-cell *matHeaderCellDef style="width: 100px"> Nivel </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="certificacion">
            <th mat-header-cell *matHeaderCellDef style="width: 100px"> Certificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
