.titulo{
  color: #7E7E7E;
  font-size: 30px;
  font-weight: bold;
}
.subTitulo{
  color: #7E7E7E;
  font-size: 15px;
}
.aceptar{
  background-color: #28A745;
  color: white;
}
  h1 {
    font-size: 30px;
    color: grey;
  }

  .inp {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
  }


  .half {
    width: 50%;
    display: flex;
  }
