<div class="row " style="margin-left:0px">
  <div class="col-12 col-md-12 col-lg-12" style="position: relative;padding: 0px;">
    <div style="margin-top: 10px;display: flex;margin-bottom: -40px;">
      <div style="cursor:pointer" [routerLink]="'/'">
        <i style="color:#FFA218;font-size:3rem" class="material-icons">arrow_back</i>
      </div>
      <div *ngIf="Esquema!=undefined" style="margin-top:10px;">
        <img style="width:13rem" src="{{LogoSimulador}}" />
      </div>
    </div>
    <mat-tab-group class="tabVertical" [(selectedIndex)]="tabIndex" >
      <mat-tab>
        <ng-template mat-tab-label>
          <div  class="contentHeaderM" >
            <div *ngIf="!hide" class="titleMatr">Configuración de categorías</div>
          </div>
        </ng-template>
        <div class="pad-resp">
          <app-cmrp-configuracion-categorias>
          </app-cmrp-configuracion-categorias>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div  class="contentHeaderM" >
            <div *ngIf="!hide" class="titleMatr">Configuración de tipo de preguntas</div>
          </div>
        </ng-template>
        <div class="pad-resp">
          <app-cmrp-configuracion-tipo-preguntas>
          </app-cmrp-configuracion-tipo-preguntas>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div  class="contentHeaderM" >
            <div *ngIf="!hide" class="titleMatr">Configuración de preguntas</div>
          </div>
        </ng-template>
        <div class="pad-resp">
          <app-cmrp-configuracion-preguntas>
          </app-cmrp-configuracion-preguntas>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div  class="contentHeaderM" >
            <div *ngIf="!hide" class="titleMatr">Configuración de interfaz</div>
          </div>
        </ng-template>
        <div class="pad-resp">
          <app-cmrp-configuracion-interfaz>
          </app-cmrp-configuracion-interfaz>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div  class="contentHeaderM" >
            <div *ngIf="!hide" class="titleMatr">Administrador de usuarios</div>
          </div>
        </ng-template>
        <div class="pad-resp">
          <app-cmrp-administrar-usuarios>
          </app-cmrp-administrar-usuarios>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div  class="contentHeaderM" >
            <div *ngIf="!hide" class="titleMatr">Reporte General</div>
          </div>
        </ng-template>
        <div class="pad-resp">
          <app-cmrp-reporte-general>
          </app-cmrp-reporte-general>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div  class="contentHeaderM" >
            <div *ngIf="!hide" class="titleMatr">Reporte de Usuarios</div>
          </div>
        </ng-template>
        <div class="pad-resp">
          <app-cmrp-reporte-usuarios>
          </app-cmrp-reporte-usuarios>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
