.titulo{
  color: #7E7E7E;
  font-size: 30px;
  font-weight: bold;
}
.subTitulo{
  color: #7E7E7E;
  font-size: 15px;
}

h1 {
  font-size: 30px;
  color: grey;
}

.inp {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.inp input {
  margin-right: 20px;
}

.inp button {
  margin-right: 20px;
}

.inp .tit {
  margin-right: 20px;
  width: 200px;
}

.inp p {
  margin-right: 20px;
  color: grey;
  font-size: 15px;
}

.colorin {
  background-color: #323232;
  border: 1px solid #323232;
  color: white !important;
}

.modos {
  margin: auto;
  padding: auto;
  width: 250px;
  height: 40px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  color: black;
}

.item-leyenda-dona-principal {
  color: #af9f9f;
  padding-top: 20px;
  padding-bottom: 5px;
}

.datos1 {
  border: 1px solid white;
  text-align: center;
}

.datos {
  border: 1px solid grey;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ContenidoDonaPuntos2 {
  line-height: 20px;
  text-align: center;
  font-size: 50px;
  color: #0684f2;
  border-radius: 100%;
  font-weight: 700;
}

::placeholder {
  text-align: center;
}

input {
  width: 300px;
}
.detalle{
  background-color: #094D82;
  color: white;

}
