@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; }
.btn-button-estandar{
  background: #FF7424;
  border-color: #FF7424;
  display: inline-flex;
  justify-content: center;
  font-weight: 500;
}
.btn-button-estandar:hover{
  background: #FF7424;
  border-color: #FF7424;
  text-decoration: underline;
}

.ant-table-content{ overflow: auto; }


.tabVertical {
  flex-direction: row !important;
}
.tabVertical .mat-tab-header {
  border-bottom: none !important;
  margin-top: 50px;
}
.tabVertical .mat-tab-header .mat-tab-header-pagination {
  display: none !important;
}
.tabVertical .mat-tab-header .mat-tab-label-container {
  border-right: 2px solid #d2d2d2;
}
.tabVertical
.mat-tab-header
.mat-tab-label-container
.mat-tab-list
.mat-tab-labels {
flex-direction: column !important;
opacity: 1;
max-width: 17rem;
//border-right: 2px solid #d2d2d2;
}
.tabVertical
.mat-tab-header
.mat-tab-label-container
.mat-tab-list
.mat-tab-labels
.mat-tab-label {
justify-content: flex-start;
opacity: 1 !important;
padding-left: 0px;
padding-right: 0px;
min-width: 60px !important;
height: auto !important;
width: 100%;
//justify-content: center;
}
.tabVertical
.mat-tab-header
.mat-tab-label-container
.mat-tab-list
.mat-tab-labels
.mat-tab-label:hover {
background: #FFFFFF;
}

.tabVertical
.mat-tab-header
.mat-tab-label-container
.mat-tab-list
.mat-ink-bar {
height: 100%;
left: 98% !important;
display: none;
}
.tabVertical .mat-tab-body-wrapper {
flex: 1 1 auto !important;
min-height: 540px;
}
.tabVertical .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content {
overflow: hidden;
}
.tabVertical
mat-tab-header
.mat-tab-label-container
.mat-tab-list
.mat-tab-labels
.mat-tab-label-active {
background: #FFFFFF;
box-shadow: inset 8px 0px 0 #3390ff;
}

@media (max-width: 768px) {
.tabVertical > mat-tab-header{
  z-index: 100;
  //position: absolute !important;
  background: white;
  height: 100%;
  min-width: 2px;
}

}
@media (min-width: 768px) {
.tabVertical > mat-tab-header{
  z-index: 100;
  //position: absolute !important;
  background: white;
  height: calc( 100% - 40px );
  min-width: 2px;
  max-width: 17rem;
}

}


.dialog-abrir-pregunta{
  mat-dialog-container {
    padding: 0px !important;
    margin-top: 60px;
    width: 60rem;
    height: 30rem;
    overflow-x: clip;
  }
}
