.contenedor {
  padding: 15px;
}

.titulo {
  padding: 15px;
}

p {
  color: grey;
}

h1 {
  font-size: 30px;
  color: grey;
}

.inp {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.inp input {
  margin-right: 20px;
}

.inp button {
  margin-right: 20px;
}

.inp .tit {
  margin-right: 20px;
}

.inp p {
  margin-right: 20px;
  color: grey;
  font-size: 15px;
}

.contenedor {
  padding: 15px;
}

.half {
  width: 50%;
  display: flex;
}
