<div class="contenedor">
  <div class="titulo">
    <h1>Administrar usuarios</h1>
    <p>
      Puedes administrar las solicitudes de acceso a simuladores enviadas por
      alumnos
    </p>
  </div>

  <div class="contenedor">
    <div class="inp">
      <div class="half">
        <div class="tit">
          <p>Codigo de matricula:</p>
        </div>
        <input placeholder="[Codigo]" />
        <button
          mat-raised-button
          style="background-color: skyblue; color: white"
        >
          Buscar
        </button>
      </div>
      <div class="half">
        <div class="tit">
          <p>Centro de costos:</p>
        </div>
        <input placeholder="[Centro de Costo]" />
        <button
          mat-raised-button
          style="background-color: skyblue; color: white"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>
