<div class="row">
  <div class="titulo">
    <h1>Configuracion de tipo de pregunta</h1>
    <p>
      Puedes modificar los tipos de pregunta que seran asignados a las preguntas
      del simulador
    </p>
  </div>

  <div id="test">
    <nz-table
      #nzTable
      [nzData]="listOfDisplayData"
      nzTableLayout="fixed"
      class="table"
    >
      <thead>
        <tr>
          <th
            nzCustomFilter
            style="width: 120px; text-align: center; background-color: #e1dcdc; border: 1px solid #CACACA"
          >
            Id
          </th>
          <th style="text-align: center; background-color: #e1dcdc; border:1px solid #CACACA ">
            Tipo de pregunta
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let i = index">
          <td  style="text-align: center; border:1px solid #CACACA ">{{ data.id }}</td>
          <td style="text-align: center; border:1px solid #CACACA ">
            <ng-container *ngIf="data.select == false">
              {{ data.nombre }}
            </ng-container>
            <ng-container *ngIf="data.select == true">
              <input
                type="text"
                nz-input
                [(ngModel)]="data.NombreNUevo"
                (blur)="stopEdit()"
              />
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="data.select == false">
              <button mat-button class="edit" (click)="editar(i)">
                <i class="material-icons">edit</i>
              </button>
            </ng-container>
            <ng-container *ngIf="data.select == true">
              <button mat-button class="aceptar" (click)="aceptar(i)">
                <i class="material-icons">check_circle</i>
              </button>
              <button mat-button class="cancel" (click)="cancelar(i)">
                <i class="material-icons">close</i>
              </button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
