<div class="row">
  <div class="titulo">
    <h1>Configuracion de tipo de pregunta</h1>
    <p>
      Puedes modificar los tipos de pregunta que seran asignados a las preguntas
      del simulador
    </p>
  </div>

  <div id="test">

    <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" class="table">
      <thead>
        <tr>
          <th nzCustomFilter style="width:120px ; text-align: center; background-color: #e1dcdc">Id</th>
          <th style=" text-align: center; background-color: #e1dcdc">
            Tipo de pregunta
            <!-- <nz-filter-trigger
              [(nzVisible)]="visible"
              [nzActive]="searchValue.length > 0"
              [nzDropdownMenu]="menu"
            >
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let i = index">
          <td style="text-align: center;">{{ data.id }}</td>
          <td>
            <!-- <div class="editable-cell" [hidden]="editId === data.id">
              {{ data.nombre }}
            </div>
            <input
              [hidden]="editId !== data.id"
              type="text"
              nz-input
              [(ngModel)]="data.name"
              (blur)="stopEdit()"
            /> -->

            <ng-container *ngIf="data.select == false">
              {{ data.nombre }}
            </ng-container>
            <ng-container *ngIf="data.select == true">
              <input
                type="text"
                nz-input
                [(ngModel)]="data.NombreNUevo"
                (blur)="stopEdit()"
              />
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="data.select == false">
              <button mat-button class="edit" (click)="editar(i)">
                <i class="material-icons">edit</i>
              </button>
            </ng-container>
            <ng-container *ngIf="data.select == true">
              <button mat-button class="aceptar" (click)="aceptar(i)">
                <i class="material-icons">check_circle</i>
              </button>
              <button mat-button class="cancel" (click)="cancelar(i)">
                <i class="material-icons">close</i>
              </button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input
            type="text"
            nz-input
            placeholder="Search name"
            [(ngModel)]="searchValue"
          />
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="search()"
            class="search-button"
          >
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu> -->
    <!-- <table mat-table class="mat-elevation-z8" [dataSource]="datasource">
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 100px; background-color: #bdbdbd; font-size: 15px"
        >
          Id.
        </th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 700px; background-color: #bdbdbd; font-size: 15px"
        >
          Tipo de pregunta
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.select == false">
            {{ element.nombre }}
          </ng-container>
          <ng-container *ngIf="element.select == true">
            <input type="text" [(ngModel)]="element.NombreNUevo" />
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 100px; text-align: center; background-color: #bdbdbd; "
        ></th>
        <mat-cell *matCellDef="let row; let i = index">
          <ng-container *ngIf="row.select == false">
            <button mat-button class="edit" (click)="editar(i)">
              <i class="material-icons">edit</i>
            </button>
          </ng-container>
          <ng-container *ngIf="row.select == true">
            <button mat-button class="aceptar" (click)="aceptar(i)">
              <i class="material-icons">check_circle</i>
            </button>
            <button mat-button class="cancel" (click)="cancelar(i)">
              <i class="material-icons">close</i>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> -->
  </div>
  <!--
  <button mat-raised-button style="background-color: orange; color: white">
    Guardar Cambios
  </button> -->
</div>
